<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="404"/>
      <error statusCode="404" responseMode="File" path="404.html" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="Redirect from WWW" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www.docinoffice.ru$" />
          </conditions>
          <action type="Redirect" url="https://docinoffice.ru/{R:0}" redirectType="Permanent" />
        </rule>
        <rule name="Redirect to WWW from Azure" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^docinoffice-ru.azurewebsites.net$" />
          </conditions>
          <action type="Redirect" url="https://docinoffice.ru/{R:0}" redirectType="Permanent" />
        </rule>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$"  ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>